<div>
  <button type="button" (click)="createProduct()">Create</button>
</div>

<div class="products--grid">
  <app-product class="d-flex flex-column justify-content-center align-items-center" [product]="product"
    *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)"
    (showProductDetails)="onShowDetails('123123')"></app-product>
  <button (click)="loadMore()">Cargar mas elementos</button>
  <p> {{statusDetail}}</p>
</div>
<div class="product-detail" [class.active]="showProductDetails && productChosen">
  <div *ngIf="productChosen">
    <button type="button" class="btn btn-danger m-2 align-self-end" (click)="toggleProductDetails()">
      Cerrar
    </button>
    <h1 class="text-center p-2"> {{productChosen.title}}</h1>
    <p> {{productChosen.description}}</p>
    <swiper [slidesPerView]="1">
      <ng-template swiperSlide *ngFor="let img of productChosen.images"> <img [src]="img" alt=""></ng-template>
    </swiper>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Eliminar</button>
  </div>
</div>
