<form [formGroup]="form" (ngSubmit)="register($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input placeholder="email" formControlName="email" matInput type="email">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input placeholder="password" formControlName="password" matInput type="password">
            <mat-error *ngIf="passwordField.hasError('required') || passwordField.hasError('invalid_password')
              || passwordField.hasError('minlength')">
              Debe tener al menos 6 caracteres y un número.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field style="margin-bottom: 5px;">
            <mat-label>Confirm Password</mat-label>
            <input placeholder="password" formControlName="confirmPassword" matInput type="password">
            <mat-error *ngIf="confirmPasswordField.hasError('required')">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="form.hasError('match_password') && confirmPasswordField.touched" style="font-size: small; ">
            * Las contraseñas no coinciden
          </mat-error>
        </div>
      </div>

      <div class="row" style="margin: 5px 0;">
        <div class="col-xs">
          <mat-radio-group formControlName="type" aria-label="Select an option">
            <mat-radio-button style="margin-right: 20px;" value="company">Company</mat-radio-button>
            <mat-radio-button value="customer">Customer</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input placeholder="company name" formControlName="companyName" matInput type="text">
            <mat-error *ngIf="companyNameField.hasError('required')">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">Registro</button>
    </mat-card-actions>
  </mat-card>

</form>
