<form style="margin: 1rem;" [formGroup]="form" (ngSubmit)="save($event)">

  <div formGroupName="fullName">

    <mat-form-field appearance="fill">
      <mat-label> Name
      </mat-label>
      <input matInput type="text" formControlName="name" placeholder="Ex. pat@example.com" />
      <button *ngIf="nameField.value" matSuffix mat-icon-button aria-label="Clear" type="button"
        (click)="setNameField = ''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>
        <span *ngIf="nameField.hasError('required')">
          Este campo es requerido
        </span>
        <span *ngIf="nameField.hasError('maxlength')">
          Este campo debe tener máximo 10 caracteres
        </span>
        <span *ngIf="nameField.hasError('pattern')">
          No deber tener caracteres
        </span>
      </mat-error>
    </mat-form-field>

    <div>
      <p>
        Last Name: {{lastField.value}}
      </p>
      <input [class.is-invalid]="lastField.invalid && lastField.touched" type="text" formControlName="last" />
      <div class="messages" [class.active]="lastField.invalid && lastField.touched">
        <p *ngIf="lastField.hasError('required')">
          Este campo es requerido
        </p>
        <p *ngIf="lastField.hasError('maxlength')">
          Este campo debe tener máximo 10 caracteres
        </p>
        <p *ngIf="lastField.hasError('pattern')">
          No deber tener caracteres
        </p>
      </div>
    </div>
  </div>

  <div>
    <p>
      Email: {{emailField.value}}
    </p>
    <input type="email" formControlName="email" [class.is-invalid]="emailField.touched && emailField.invalid" />
    <div class="messages" [class.active]="emailField.invalid && emailField.touched">
      <p *ngIf=" emailField.hasError('required')">Este campo es requerido</p>
      <p *ngIf="emailField.hasError('email')">No es un email válido</p>
    </div>
  </div>

  <div>
    <p>
      Phone: {{phoneField.value}}
    </p>
    <input type="tel" formControlName="phone" [class.is-invalid]="phoneField.touched && phoneField.invalid" />
    <div class="messages" [class.active]="phoneField.invalid && phoneField.touched">
      <p *ngIf="phoneField.hasError('required')">Este campo es requerido</p>
      <p *ngIf="phoneField.hasError('min')">Debe ser mayor a 18</p>
      <p *ngIf="phoneField.hasError('max')">Debe ser menor a 100</p>
    </div>
  </div>

  <div>
    <p>
      Color: {{colorField.value}}
    </p>
    <input type="color" formControlName="color" />
  </div>

  <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <p>
      Date: {{dateField.value}}
    </p>
  </div>

  <div>
    <p>
      Number: {{numberField.value}}
    </p>
    <input type="number" formControlName="number" [class.is-invalid]="numberField.touched && numberField.invalid" />
    <div class="messages" [class.active]="numberField.invalid && numberField.touched">
      <p *ngIf="numberField.hasError('required')">Este campo es requerido</p>
      <p *ngIf="numberField.hasError('min')">Debe ser mayor a 18</p>
      <p *ngIf="numberField.hasError('max')">Debe ser menor a 100</p>
    </div>
  </div>

  <div>
    <p>
      Category: {{categoryField.value}}
    </p>
    <select formControlName="category">
      <option value="" disabled>Seleccione una opción</option>
      <option value="category-1">Category 1</option>
      <option value="category-2">Category 2</option>
      <option value="category-3">Category 3</option>
    </select>
  </div>

  <div>
    <p>
      Tag: {{tagField.value}}
    </p>
    <select formControlName="tag" multiple>
      <option value="Tag-1">Tag 1</option>
      <option value="Tag-2">Tag 2</option>
      <option value="Tag-3">Tag 3</option>
    </select>
  </div>

  <div>
    <span> agreeField: {{agreeField.value}} </span>
    <input type="checkbox" formControlName="agree" [class.is-invalid]="agreeField.touched && agreeField.invalid">
    <div class="messages" [class.active]="agreeField.touched">
      <p *ngIf="agreeField.hasError('requiredTrue')">Este campo es obligatorio</p>
    </div>
  </div>

  <div>
    <p> Gender: {{genderField.value}} </p>
    <label>
      <input name="gender" type="radio" formControlName="gender" value="Male">
      Male
    </label>
    <label>
      <input name="gender" type="radio" formControlName="gender" value="Female">
      Female
    </label>
    <label>
      <input name="gender" type="radio" formControlName="gender" value="Other">
      Other
    </label>
  </div>

  <div>
    <p> Zone: {{zoneField.value}} </p>
    <label>
      <input name="zone" type="radio" formControlName="zone" value="zona1">
      zona1
    </label>
    <label>
      <input name="zone" type="radio" formControlName="zone" value="zona2">
      zona2
    </label>
    <label>
      <input name="zone" type="radio" formControlName="zone" value="zona3">
      zona3
    </label>
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>

</form>
