<div style="margin: 1rem;">

  <div>
    <p>
      Name: {{nameField.value}}
    </p>
    <p>
      Válido: {{nameField.valid}}
    </p>
    <input type="text" [formControl]="nameField" />
    <button [disabled]="nameField.invalid" (click)="getNameValue()">Get name value</button>
    <!-- <code>
  <pre>
    {{nameField | json}}
  </pre>
</code> -->
    <p *ngIf="nameField.touched && nameField.hasError('required')">
      <strong>Este campo es requerido</strong>
    </p>
    <p *ngIf="nameField.dirty && nameField.hasError('maxlength')">
      <strong>Este campo debe tener máximo 10 caracteres</strong>
    </p>
  </div>

  <div>
    <p>
      Email: {{emailField.value}}
    </p>
    <input type="email" [formControl]="emailField" />
  </div>

  <div>
    <p>
      Phone: {{phoneField.value}}
    </p>
    <input type="tel" [formControl]="phoneField" />
  </div>

  <div>
    <p>
      Color: {{colorField.value}}
    </p>
    <input type="color" [formControl]="colorField" />
  </div>

  <div>
    <p>
      Date: {{dateField.value}}
    </p>
    <input type="date" [formControl]="dateField" />
  </div>

  <div>
    <p>
      Number: {{numberField.value}}
    </p>
    <input type="number" [formControl]="numberField" />
  </div>

  <div>
    <p>
      Category: {{categoryField.value}}
    </p>
    <select [formControl]="categoryField">
      <option value="" disabled>Seleccione una opción</option>
      <option value="category-1">Category 1</option>
      <option value="category-2">Category 2</option>
      <option value="category-3">Category 3</option>
    </select>
  </div>

  <div>
    <p>
      Tag: {{tagField.value}}
    </p>
    <select [formControl]="tagField" multiple>
      <option value="Tag-1">Tag 1</option>
      <option value="Tag-2">Tag 2</option>
      <option value="Tag-3">Tag 3</option>
    </select>
  </div>

  <div>
    <span> agreeField: {{agreeField.value}} </span>
    <input type="checkbox" [formControl]="agreeField">
  </div>

  <div>
    <p> Gender: {{genderField.value}} </p>
    <label>
      <input name="gender" type="radio" [formControl]="genderField" value="Male">
      Male
    </label>
    <label>
      <input name="gender" type="radio" [formControl]="genderField" value="Female">
      Female
    </label>
    <label>
      <input name="gender" type="radio" [formControl]="genderField" value="Other">
      Other
    </label>
  </div>

  <div>
    <p> Zone: {{zoneField.value}} </p>
    <label>
      <input name="zone" type="radio" [formControl]="zoneField" value="zona1">
      zona1
    </label>
    <label>
      <input name="zone" type="radio" [formControl]="zoneField" value="zona2">
      zona2
    </label>
    <label>
      <input name="zone" type="radio" [formControl]="zoneField" value="zona3">
      zona3
    </label>
  </div>

</div>
