<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Category
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
          <input hidden (change)="uploadFile($event)" #fileInput type="file">
          <span class="file-name">{{imageField.value}}</span>
          <mat-progress-bar *ngIf="progressBarValue " mode="determinate" [value]="progressBarValue"></mat-progress-bar>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button type="submit">Save category</button>
    </mat-card-actions>

  </mat-card>
</form>
